.about {
  text-align: center;
  height: 500px;
  display: flex;
  justify-content: center;

  .about-container {
    width: 80%;
    margin: 5%;

    p {
      font-size: 20px;
      margin-top: 50px;
      letter-spacing: 1.2px;
    }
  }
}
